@section Title{
    Aggiungi Dipendente 
}

<form asp-controller="Home" asp-action="Add" method="post">
    Nome:<input type="text" name="nome" /> <br />
    Cognome:<input type="text" name="cognome" /> <br />
    Indirizzo:<input type="text" name="indirizzo" /> <br />
    Codice Fiscale:<input type="text" name="codicefiscale" /> <br />
    Coniugato:<input type="checkbox" name="coniugato" value="true" /> <br />
    Figli:<input type="number" name="figli" /> <br />
    Mansione:<input type="text" name="mansione" /> <br />
    <button>Crea</button>
</form>